@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


:root {
    --background-dark:  #076490;
    --background-light: #199de5;
    --light-color: #E1E5EB;
    --shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    --text-color: #333;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*  General styles */

body .container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
}

/* Navbar */

nav .grid {
  grid-template-columns: 1fr 8fr;
}

nav .home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #076490;
  color: white;
}

nav .home:hover{
  background-color: #bdbdbd;
  color: rgb(0, 0, 0);
}

.home p {
  margin: 0;
  font-weight: bolder;
  font-size: 20px;
}

nav .menu-bar {
  display: flex;
  align-items: center;
  background-color: #199de5;
  color: white;
}

nav .menu-bar .icons{
  padding: 15px 20px;
}

.menu-bar .icons:hover {
  background-color: white;
  color: black;
}
/*Personal section*/
.personal{
  width: 400px;
}
/* Info and profile */
/* box */
.box {
  background-color: var(--white);
  box-shadow: var(--shadow);
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
}

/* My profile */
.profile h1 {
  text-align: center;
  font-size: 130;
  font-weight: bold;
  padding-bottom: 10px;
}

/* image */
.profile .img_container {
  width: 80%;
  margin: auto;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

hr {
  color: var(--light-color);
}

/* icon same line with text */
.profile_rows div {
  display: flex;
  align-items: center;
}

/* icon */
.profile_rows div i
{
  margin: 20px;
  color: gray;
}

/*********
 SECOND CARD 
 *********/
.networks {
  padding: 0 0 20px;
}

.networks .groups_events {
  display: flex;
  align-items: center;
  background-color: var(--background-light);
  color: var(--white);
  cursor: pointer;
}
.networks .groups_events p, .networks .groups_events i {
  color:white;
  margin: 20px;
}
.networks .groups_events:hover {
  color: black;
  background-color: #bdbdbd;
}
.networks .groups_events:hover * {
  color: var(--black);
}

/* only first row */
.first_row_groups_events {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* some text some other text */
.networks p {
  margin: 20px;
}

.networks_rows {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-gap: 1em;
  width: 90%;
  margin: 1em  1em;

}

.networks_rows img {
  width: 100%;
  height: 100%;
  
  
}
/* Post Section */

.card {
  position: relative;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 1px 3px 6px rgba(0,0,0,.2);
}

.statusField {
  width: 100%;
  border: solid 1px;
  padding: 3px;
  margin-bottom: 16px;
}

.blueButton {
  background-color: #199de5;
  color: white;
  border: none;
  padding: 6px;
  width: 120px;
}

.blueButton:hover {
  background-color: #bdbdbd;
  color: rgb(0, 0, 0);
}

.circlePhoto {
  display: inline-block;
  border-radius: 50%;
  width: 64px;
}

.nameTag {
  display: block;
  position: absolute;
  top: 22px;
  left: 86px;
  line-height: 1.5em;
  margin: 16px;
  font-size: 16pt;
}

.timeStamp {
  position: absolute;
  right: 20px;
  text-align: right;
}

.lightRule > hr {
  opacity: 10%;
}

.postImageDouble {
  display: inline-block;
  max-width: 49%;
  height: auto;
  margin-bottom: 1em;
}

.postImageSingle {
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.buttonBar {
  margin-top: .5em;
}


/* Footers */

.footer1 {
  background-color: var(--background-light);
  color: white;
  padding:15px 10px;
}

.footer2 {
  background-color:var(--background-dark);
  color: white;
  padding: 7px;
}
